/* reset css */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-origin: padding-box;
}

/* phan dung chung */
html{
    scroll-behavior: smooth; /*hieu ung cuon web khi an*/
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both; /*clear thẻ float nếu có*/
}

.text-white{
    color:#fff !important; 
}

.text-center{
    text-align: center !important;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {  /*giống clear*/
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full{
    width: 100%;
}

.col-half{
    width: 50%;
}

.col-third{
    width: 33.33333%;
}

.magintop-8{
    margin-top: 8px !important;
}

.magintop-16{
    margin-top: 16px;
}



#main {

}


#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1; /*đè cục header lên slider ảnh*/
}

#nav{

}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

#nav > li >a {
    color: #fff;
    text-transform: uppercase; /*viet hoa chu */
} /* chỉ dùng lên phần cấp 1 bên ngoài*/
 
#nav li a { 
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px; /*trên duoi-trai phai*/ 
    display: inline-block; /*chú ý*/
}

#nav li:hover .subnav{
    display:block;
}

#nav > li:hover > a{
    color: #000 ;
    background-color: #ccc;

}

#nav .subnav{
    display: none; 
    background-color: #fff;
    position: absolute;
    min-width: 160px; /*cho chữ trong more lùi vào*/
    top: 100%; /*đo và css vị trí */
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} /*đay la cai cục more*/

.ti-angle-down{
    font-size: 12px;
}
#nav .subnav li:hover{
    color: #000 ;
    background-color: #ccc;
}

#nav .subnav a{
    color: #000;   
    padding: 0 12px; 
    line-height: 38px;             ;
}

#header .search-button{
   float: right;
   padding: 0 21px;
   cursor: pointer;
}

#header .search-button:hover{
    background-color:  rgb(244, 67, 54);
}

#header .search-icon{
    color: #fff;
    font-size: 16px;
    line-height: 46px;
    
}

/* slider lam tu day */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/chicago.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: #fff;
    left: 0;
    right: 0;
    text-align: center;
}

#slider .text-heading{
    font-weight: 500; /*chinh độ mảnh dày chữ*/
    font-size: 24px;
}

#slider .text-sub{
    font-size: 15px;
    margin-top: 25px;
}

/* content lam tu day */

/*about*/
#content {

}

#content .content-section{
    width: 800px;
    max-width: 100%;       /*res ipad*/
    margin-right: auto;
    margin-left: auto;
    padding: 64px 0 112px;
    padding-left: 16px;      /*res ipad*/
    padding-right: 16px;     /*res ipad*/
}

#content .section-heading{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    letter-spacing: 4px; /*khoảng cách chữ*/
}

#content .section-subheading {
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}

#content .about{
    margin-top: 25px;
    font-size: 15px;
    text-align: justify; /*căn đều các dòng chữ*/
    line-height: 1.4; 
}

/*member*/
#content .member-list{
    margin-top: 48px;
}


#content .name{
    font-size: 15px;
    margin: 15px 0;
}

#content .image{
    width: 154px;
    border-radius: 4px;
}

/* tour */
#content .tour-section{
    background-color: #000;
}

#content .ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    color: #757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .three{
    float: right;
    background-color: #000;
    color: #fff;
    line-height: 24px;
    text-align: center;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    margin-top: -2px;
}

/* place */
.place-list{                 /*row*/
    margin-top: 32px;
}


.place-image{
    width: 100%;
    display: block;
}

.place-image:hover{
    opacity: 0.6;
}

.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
}

.place-heading{
    font-weight: 550;
}

.place-time{
    margin-top: 15px;
    color: #757575;
}

.place-sub{
    margin-top: 15px;
    line-height: 1.4;
}

.place-button{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
}

.place-button:hover{
    color: #000;
    background-color: #ccc;
}

/* làm modal */

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4); /*lớp overlay*/
    display: none;
    align-items: center;
    justify-content: center;
}

.modal.open{
    display: flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: fademodal ease 0.4s;
}
.modal-header{
    background-color: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modalheading-icon{
    margin-right: 16px;
}

.modal-close:hover{
    opacity: 0.8;
}

.modal-close{
    position: absolute;
    right: 0; /*cho sang phải*/
    top: 0;
    padding: 12px; /*căn cục x ra giữa*/
    color: #fff;
}

.modal-close:hover{
    background-color: #ccc;
    color: #000;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.modal-input{
    font-size: 15px;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 24px;
}

#buy{
    width: 100%;
    background-color: #009688;
    font-size: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
    border: none; 
    text-transform: uppercase; /*đậm chữ*/
    cursor: pointer;
}

#buy:hover{
    background-color: rgb(163, 241, 238);
    color: #000;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}


@keyframes fademodal {
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* làm contact */

.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}

.contact-form{
    font-size: 15px;
}

.contact-form .form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.contact-form .form-submit{
    padding: 10px 16px;
    float: right;
    background-color: #000;
    color: #fff;
    border: none;
}

.contact-form .form-submit:hover{
    background-color: #ccc;
    color: black;
  cursor: pointer;
}


/* map */
.map img{
    width: 100%;
}



/* footer lam ty day */

#footer{
    padding: 64px 16px;
    text-align: center;
}

#footer .list{
    font-size: 24px;
}

.list a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
}


.copyright a:hover,
.list a:hover{
    opacity: 0.7;
    color: aqua;
}

#footer .copyright{
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.copyright a{
    color: rgba(0, 0, 0, 0.6);
}




/* XONG!!!!!!!! */
